/* Sections General (non-hero) */
section:not(.hero) {
  padding: 5rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

/* ensure hero benar-benar full viewport */
.hero {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.section-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 3rem;
  color: #e66b00; /* Bright orange */
  position: relative;
}

.section-title::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 3px;
  background: #ff7300;
  animation: expand 1s ease-out 1s forwards;
}